@media (max-width: 7680px) {
  .nav {
    padding: 18px 25px;
  }
  .nav {
    min-height: 70px;
    display: flex;
  }

  .btn-dark {
    padding-left: 10px;
  }

  .nav-menu.ativo {
    right: 0;
    gap: 5rem;
  }

  .menu-mobile {
    display: block;
  }
  .menu-mobile .ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu-mobile .ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu-mobile .ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }


  .home {
    flex-direction: column-reverse;
    
    justify-content: center;
    padding: 1px;  
  }
  .home .text-h1 {
    font-size: 20px;
  }
  .home .text-h4 {
    font-size: 20px;
  }

  img {    
    height: 400px;
  }

  .home .text-h1 {
    font-size: 60px;
  }
  
}
@media (max-width: 490px) {
  .btn-dark {
  padding-right: 0 10px;
  }
  .menu-mobile {
    padding-right: 0px  10px;
  }

}

