@media (max-width: 768px) {
  .hamburguer {
    display: block;
    
  }
  .hamburguer.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburguer.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburguer.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar {
    padding: 0 34px;
  }
  
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 108px;
    gap: 0;
    border-radius: 10px 0 0 10px;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
    transition: 0.3s;
  }
  .nav-link {
    transition: 0.5s ease;
    color: #f8f1f1;
    font-weight: 500;
  }
  .nav-link:hover {
    color:  #f28444;
    border-bottom: 2px solid  #f8f1f1;
   }
  .btn-dark {
    padding-left: 59%;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.ativo {
    right: 0px;
  }

  .home {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 1px;
  }

  .home .text-h4 {
    font-size: 20px;
  }

  .home-img img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .home{
    height: 100vh;
  }
  
 
  .text-h1 span {
    font-size: 70px;
  }
  .home-text .text-h1 {
    font-size: 70px;
  }
  .btn-dark {
    padding-left: 50%;
  }
}


@media (max-width: 420px) {
  .home {
    height: 100vh;
  }
  .nav-menu.ativo {
    width: 90%;
    height: 81%;
  }
  .home-img img {
    width: 185px;
    padding-bottom: 10px;
  }
  .text-h1 span {
    font-size: 54px;
  }
  .home-text .text-h1 {
    font-size: 54px;
  }
  .btn-dark {
    padding-left: 22%;
  }
}
