@media (max-width: 780px) {
  .hamburguer {
    display: block;
  }
  .hamburguer.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburguer.ativo .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburguer.ativo .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    padding: 0 20px;
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    top: 108px;
    gap: 0;
    border-radius: 10px 0 0 10px;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
    transition: 0.3s;
  }
  .nav-menu.ativo {
    right: 0;
  }
  .nav-link {
    transition: 0.5s ease;
    color: #f8f1f1;
    font-weight: 500;
  }
  .nav-link:hover {
    color: #f28444;
    border-bottom: 2px solid #f8f1f1;
  }
  .btn-dark {
    padding-left: 59%;
  }
  .nav-item {
    margin: 16px 0;
  }

  .home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding: 127px 157px;
    
  }

  .home-text {
    width: 106%;
  }

  .home-text .text-h1 {
    display: flex;
    flex-direction: row;

    font-size: 83px;
  }
  .home-text .text-h1 span {
    font-size: 83px;
  }
  .home-text span {
    font-size: 28px;
  }
  img {
    height: 500px;
  }
}

@media (max-width: 569px) {
  .nav-menu {
    width: 90%;
    height: 83%;
  }
  .btn-dark {
    padding-left: 50%;
  }
  .home {
   padding: 69px 111px;
  }
  .home-text {
    width: 106%;
  }

  .home-text .text-h1 {
    display: flex;
    flex-direction: row;
    font-size: 60px;
  }
  .home-text .text-h1 span {
    font-size: 60px;
  }
  .home-text span {
    font-size: 156%;
  }
  .corpo-modal #btn-container button {
    height: 50px;

    color: rgb(8, 8, 8);
  }
  #tela {
    font-size: 35px;
  }
}
@media (max-width: 459px) {
  .btn-dark {
    padding-left: 35%;
  }
  .home {
    padding: 130px 64px;
  }
  .home-text {
    width: 93%;
  }
  .home-text .text-h4 {
    font-size: 20px;
  }
  .home-text .text-h1 {
    display: flex;
    flex-direction: row;
    font-size: 45px;
  }
  .home-text .text-h1 span {
    font-size: 45px;
  }
  .home-text span {
    font-size: 139%;
  }
  .corpo-modal #btn-container button {
    height: 50px;

    color: rgb(8, 8, 8);
  }
  #tela {
    font-size: 35px;
  }
}

@media (max-width: 390px) {
  .navbar {
    padding: 0 10px;
  }
  .btn-dark {
    padding-left: 35%;
  }
  .nav-menu.ativo {
    width: 90%;
  }
  .nav-menu {
    width: 80%;
    height: 80%;
  }
  .home {
    padding: 50px 41px;
    
  }

  .home-text {
    width: 96%;
  }

  .home-text .text-h1 {
    display: flex;
    flex-direction: row;

    font-size: 48px;
  }
  .home-text .text-h1 span {
    font-size: 48px;
  }
  .home .home-text h4 {
    font-size: 16px;
  }
  .home-text span {
    font-size: 13px;
  }
  .corpo-modal #btn-container button {
    height: 50px;

    color: rgb(8, 8, 8);
  }
  #tela {
    font-size: 35px;
  }
  

 
}
