@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --bg-color: #5f5943;
  --bg-thema-dark: #273333;

  --color-text: #fff;
  --orange: #f28444;
  
}
html,
body {
  background: var(--bg-color);
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

/******** Navigation ********/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 18px 20%;
  border-bottom: 1px solid var(--color-text);
  transition: all 0.5s;
}
.nav .logo {
  color: var(--color-text);
  font-size: 1.7rem;
  font-weight: 600;
}
.logo span {
  color: var(--orange);
  font-family: 'Roboto', sans-serif;
}
.nav ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.nav ul li a {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: var(--color-text);
  transition: all 0.5s;
}
.nav ul li a:hover {
  color: var(--orange);
  border-bottom: 1px solid var(--color-text);
}
.menu-mobile {
  cursor: pointer;
  display: none;
  z-index: 8;
  
}
.home-img img {
  width: 100%;
}


/****** thema dark *****/

input[type="checkbox"] {
  display: none;
}

.dark,
.dark header {
  background-color: var(--bg-thema-dark);
}
.bi {
  font-size: 20px;
  cursor: pointer;
  color: var(--color-text);
}

.bi-moon-fill {
  display: none;
}

.dark .bi-sun-fill {
  display: none;
}
.dark .bi-moon-fill {
  display: block;
}
/*********************/

/*** Conteudo Principal ***/

.home{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 72px 20%;
}

.home-text {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.home .text-h1 {
  font-size: 85px;;
  font-weight: 900;
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
}
.home .text-h4 {
  font-size: 27px;
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;;
}
.home .text-h1 span {
  color: var(--orange);
  animation: topdown 700ms;
  font-family: 'Roboto', sans-serif;
}
.home span {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-text);
}


.home-img {
  transform: translateX(0px);
  animation: topdown 10s ease-in-out infinite;
 
}

/*** modal ***/

button {
  background: none;
  padding: 0.6rem 1.2rem;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  transition: 0.4s;
}
#fundo,
#modal,
#modal-projetos,
#fundo-modal-projetos,
#modal-contato,
#fundo-modal-contato {
  transition: 0.5s;
  opacity: 1;
  pointer-events: all;
}
#fundo,
#fundo-modal-projetos,
#fundo-modal-contato {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 47, 47, 0.404);
  z-index: 5;
}

#modal,
#modal-projetos,
#modal-contato {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10;
  background-color: var(--bg-color);
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 90%;
  padding: 1.2rem;
  border-radius: 0.5rem;
}
.cabecalho-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid;

}
.corpo-modal {
  font-size: 1.1rem;
  color: rgb(248, 247, 247);
}

#modal.hide,
#fundo.hide,
#modal-projetos.hider,
#fundo-modal-projetos.hider,
#modal-contato.hiderr,
#fundo-modal-contato.hiderr {
  opacity: 0;
  pointer-events: none;
}

#modal.hide,
#modal-projetos.hider,
#modal-contato.hiderr {
  top: 0;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translatey(0);
  }
  60% {
    transform: translatey(-60px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}

/***** Calculadora *****/

#calc {
  width: auto;
  padding: 0.5em;
  border-radius: 10px;
  background-color: #c4c4c4;
  color: #000;
  display: flex;
  flex-direction: column;
}

#calc h3 {
  font-size: 0.8em;
  font-weight: 300;
  color: #141414;
}

#operations {
  text-align: right;
}

#tela {
  min-height: 1.6em;
  font-size: 3em;
  font-weight: 700;
  padding: 0.2em;
  overflow-wrap: break-word;
}

#btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  gap: 3px;
}

#btn-container button {
  border: 1px solid transparent;
  border-radius: 0;
  height: 4em;
  font-size: 1.2em;
  background-color: #dbdbdb;
  cursor: pointer;
}

#btn-container .number {
  background-color: #f3f3f3;
}

#btn-container button:hover {
  background-color: #bababa;
  border-color: #999;
}

#btn-container #equal-btn {
  grid-column: span 2;
  background-color: #f28444c7;
}

#btn-container #equal-btn:hover {
  grid-column: span 2;
  background-color: var(--orange);
}
#btn-container #btn-ac {
  grid-column: span 2;
  background-color: #75a5cb;
}
#btn-container #btn-ac:hover {
  grid-column: span 2;
  background-color: #3a91d8;
}


